[submodule "lambda/data_preprocessing/data_preprocessing"]
	path = lambda/data_preprocessing/data_preprocessing
	url = http://172.16.25.29/database-network/data_preprocessing.git
[submodule "lambda/editor_sequence_design/editor_sequence_design"]
	path = lambda/editor_sequence_design/editor_sequence_design
	url = http://172.16.25.29/database-network/edit_sequence_design.git

[submodule "lambda/chopchop"]
	path = lambda/chopchop
	url = http://172.16.25.29/database-network/chopchop.git
